<%= form_tag movies_path, method: "get" do %>
  <div>
    <%= label :search, :title %>
    <%= text_field :search, :title %>
  <div>
  <div>
    <%= label :search, :director %>
    <%= text_field :search, :director %>
  <div>
  <div>
    <%= select :search, :duration, options_for_select(MoviesHelper::DURATION_OPTIONS), { include_blank: "Choose movie duration" } %>
  </div>
  <div>
    <%= submit_tag "Search movies", name: nil %>
  </div>
<% end %>