<h2><%= @movie.title %></h2>
<p><%= @movie.director %></p>
<p>Runtime: <%= @movie.runtime_in_minutes %></p>
<p>Description: <%= @movie.description %></p>
<img src="<%= @movie.poster_image_url %>" />

<%= link_to "Back to Movies", movies_path %>