<h2><%= @movie.title %></h2>
<p><%= @movie.director %></p>
<p>Runtime: <%= @movie.runtime_in_minutes %></p>
<p>Description: <%= @movie.description %></p>
<p>Movie Poster: 
  <img src="<%= @movie.poster_image_url %>" />
</p>