<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Rotten Mangoes</a>
    </div>
    <div class="collapse navbar-collapse">
      <%= render 'movies/search' %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort Movies <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="movies?sort=fresh">Freshness</a></li>
            <li><a href="movies?sort=title">Title</a></li>
            <li><a href="movies?sort=newest">Newest</a></li>
          </ul>
        </li>
        <li><%= link_to "Submit Movie", new_movie_path %></li>
        <% if current_user %>
          <li><%= link_to "Log Out", session_path("current"), method: :delete %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Admin", admin_users_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Log In", new_session_path %></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>